%icons-base {
  font-family: $font-icons-base;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  speak: none;
  text-transform: none;
}

%ico-arrow-down::before           {@extend %icons-base;content: '\e900';}
%ico-arrow-down2::before          {@extend %icons-base;content: '\e901';}
%ico-circle-arrow-down::before    {@extend %icons-base;content: '\e902';}
%ico-l-arrow-down::before         {@extend %icons-base;content: '\e903';}
%ico-arrow-left::before           {@extend %icons-base;content: '\e904';}
%ico-arrow-left2::before          {@extend %icons-base;content: '\e905';}
%ico-circle-arrow-left::before    {@extend %icons-base;content: '\e906';}
%ico-l-arrow-left::before         {@extend %icons-base;content: '\e907';}
%ico-arrow-right::before          {@extend %icons-base;content: '\e908';}
%ico-arrow-right2::before         {@extend %icons-base;content: '\e909';}
%ico-circle-arrow-right::before   {@extend %icons-base;content: '\e90a';}
%ico-l-arrow-right::before        {@extend %icons-base;content: '\e90b';}
%ico-arrow-up::before             {@extend %icons-base;content: '\e90c';}
%ico-arrow-up2::before            {@extend %icons-base;content: '\e90d';}
%ico-circle-arrow-up::before      {@extend %icons-base;content: '\e90e';}
%ico-l-arrow-top::before          {@extend %icons-base;content: '\e90f';}
%ico-close::before                {@extend %icons-base;content: '\e910';}
%ico-cross::before                {@extend %icons-base;content: '\e911';}
%ico-checkmark::before            {@extend %icons-base;content: '\e912';}
%ico-slash::before                {@extend %icons-base;content: '\e913';}
%ico-slash-m::before              {@extend %icons-base;content: '\e914';}
%ico-minus::before                {@extend %icons-base;content: '\e915';}
%ico-plus::before                 {@extend %icons-base;content: '\e916';}
%ico-menu::before                 {@extend %icons-base;content: '\e917';}
%ico-agencias::before             {@extend %icons-base;content: '\e918';}
%ico-balloon::before              {@extend %icons-base;content: '\e919';}
%ico-bed::before                  {@extend %icons-base;content: '\e91a';}
%ico-calendar::before             {@extend %icons-base;content: '\e91b';}
%ico-empresas::before             {@extend %icons-base;content: '\e91c';}
%ico-phone::before                {@extend %icons-base;content: '\e91d';}
%ico-secure::before               {@extend %icons-base;content: '\e91e';}
%ico-mail::before                 {@extend %icons-base;content: '\e91f';}
%ico-soundcloud::before           {@extend %icons-base;content: '\e920';}
%ico-spinner2::before             {@extend %icons-base;content: '\e921';}
%ico-switch::before               {@extend %icons-base;content: '\e922';}
%ico-facebook::before             {@extend %icons-base;content: '\e923';}
%ico-facebook2::before            {@extend %icons-base;content: '\e924';}
%ico-google-plus::before          {@extend %icons-base;content: '\e925';}
%ico-flickr2::before              {@extend %icons-base;content: '\e926';}
%ico-linkedin::before             {@extend %icons-base;content: '\e927';}
%ico-instagram::before            {@extend %icons-base;content: '\e928';}
%ico-foursquare::before           {@extend %icons-base;content: '\e929';}
%ico-tripadvisor::before          {@extend %icons-base;content: '\e92a';}
%ico-npm::before                  {@extend %icons-base;content: '\e92b';}
%ico-pinterest2::before           {@extend %icons-base;content: '\e92c';}
%ico-paypal::before               {@extend %icons-base;content: '\e92d';}
%ico-tumblr::before               {@extend %icons-base;content: '\e92e';}
%ico-twitter::before              {@extend %icons-base;content: '\e92f';}
%ico-twitter2::before             {@extend %icons-base;content: '\e930';}
%ico-vimeo::before                {@extend %icons-base;content: '\e931';}
%ico-vine::before                 {@extend %icons-base;content: '\e932';}
%ico-youtube2::before             {@extend %icons-base;content: '\e933';}
%ico-youtube3::before             {@extend %icons-base;content: '\e934';}
%ico-toup::before                 {@extend %icons-base;content: '\e935';}
%ico-thawte::before               {@extend %icons-base;content: '\e936';}
%ico-wordpress::before            {@extend %icons-base;content: '\e937';}
%ico-calendar2::before            {@extend %icons-base;content: '\e938';}
%ico-car::before                  {@extend %icons-base;content: '\e939';}
%ico-doorbell::before             {@extend %icons-base;content: '\e93a';}
%ico-wifi::before                 {@extend %icons-base;content: '\e93b';}
%ico-refresh::before              {@extend %icons-base;content: '\e93c';}
%ico-pin::before                  {@extend %icons-base;content: '\e93d';}
%ico-person::before               {@extend %icons-base;content: '\e93e';}
%ico-user::before                 {@extend %icons-base;content: '\e93f';}
%ico-zoom::before                 {@extend %icons-base;content: '\e940';}
%ico-whatsapp::before             {@extend %icons-base;content: '\e941';}
%ico-star::before                 {@extend %icons-base;content: '\e942';}
%ico-wifi2::before                {@extend %icons-base;content: '\e943';}
%ico-calendar3::before            {@extend %icons-base;content: '\e944';}
%ico-volume-high::before          {@extend %icons-base;content: '\e945';}
%ico-volume-mute::before          {@extend %icons-base;content: '\e946';}
%ico-loop::before                 {@extend %icons-base;content: '\e947';}
%ico-home::before                 {@extend %icons-base;content: '\e948';}
%ico-star2::before                {@extend %icons-base;content: '\e949';}
%ico-clients::before              {@extend %icons-base;content: '\e94a';}
%ico-play::before                 {@extend %icons-base;content: '\e94b';}
%ico-tour-360::before             {@extend %icons-base;content: '\e94c';}
%ico-language::before             {@extend %icons-base;content: '\e94d';}
%ico-telephone::before            {@extend %icons-base;content: '\e94e';}
%ico-newspaper::before            {@extend %icons-base;content: '\e94f';}
%ico-download::before             {@extend %icons-base;content: '\e950';}
%ico-star3::before                {@extend %icons-base;content: '\e951';}
%ico-heart::before                {@extend %icons-base;content: '\e952';}
%ico-star4::before                {@extend %icons-base;content: '\e953';}
%ico-hotel::before                {@extend %icons-base;content: '\e954';}
%ico-crown::before                {@extend %icons-base;content: '\e955';}
%ico-arrow-simple::before         {@extend %icons-base;content: '\e956';}
%ico-arrow-double::before         {@extend %icons-base;content: '\e957';}
%ico-airplane::before             {@extend %icons-base;content: '\e958';}
%ico-padlock::before              {@extend %icons-base;content: '\e959';}
%ico-world::before                {@extend %icons-base;content: '\e95a';}
%ico-spacecraft::before           {@extend %icons-base;content: '\e95b';}
%ico-information::before          {@extend %icons-base;content: '\e95c';}
%ico-circle-arrow-right2::before  {@extend %icons-base;content: '\e95d';}
%ico-circle-arrow-left2::before   {@extend %icons-base;content: '\e95e';}
%ico-plus2::before                {@extend %icons-base;content: '\e95f';}
%ico-world2::before               {@extend %icons-base;content: '\e960';}
%ico-work::before                 {@extend %icons-base;content: '\e961';}
%ico-money::before                {@extend %icons-base;content: '\e962';}
%ico-pencil::before               {@extend %icons-base;content: '\e963';}
%ico-percentage::before           {@extend %icons-base;content: '\e964';}
%ico-quotes::before               {@extend %icons-base;content: '\e965';}
%ico-calendar4::before            {@extend %icons-base;content: '\e966';}
%ico-tour2-360::before            {@extend %icons-base;content: '\e967';}
%ico-cam::before                  {@extend %icons-base;content: '\e968';}
%ico-user2::before                {@extend %icons-base;content: '\e969';}
%ico-calendar5::before            {@extend %icons-base;content: '\e96a';}
%ico-fax::before                  {@extend %icons-base;content: '\e96b';}
%ico-video::before                {@extend %icons-base;content: '\e96c';}
%ico-chat::before                 {@extend %icons-base;content: '\e96d';}
%ico-diamond::before              {@extend %icons-base;content: '\e96e';}
%ico-spa::before                  {@extend %icons-base;content: '\e96f';}
%ico-capacity::before             {@extend %icons-base;content: '\e970';}
%ico-ubication::before            {@extend %icons-base;content: '\e971';}
%ico-rooms::before                {@extend %icons-base;content: '\e972';}
%ico-blog::before                 {@extend %icons-base;content: '\e973';}
%ico-arrow3-left::before          {@extend %icons-base;content: '\e974';}
%ico-arrow3-right::before         {@extend %icons-base;content: '\e975';}
%ico-calendar6::before            {@extend %icons-base;content: '\e976';}
%ico-pdf::before                  {@extend %icons-base;content: '\e977';}
%ico-check::before                {@extend %icons-base;content: '\e978';}
%ico-hotel2::before               {@extend %icons-base;content: '\e979';}
%ico-key::before                  {@extend %icons-base;content: '\e97a';}
%ico-star5::before                {@extend %icons-base;content: '\e97b';}
%ico-video2::before               {@extend %icons-base;content: '\e97c';}
%ico-arrow4-left::before          {@extend %icons-base;content: '\e97d';}
%ico-arrow4-right::before         {@extend %icons-base;content: '\e97e';}
%ico-list::before                 {@extend %icons-base;content: '\e97f';}
%ico-selector::before             {@extend %icons-base;content: '\e980';}
%ico-instagram2::before           {@extend %icons-base;content: '\e981';}
%ico-download2::before            {@extend %icons-base;content: '\e982';}
%ico-arrow-left5::before          {@extend %icons-base;content: '\e983';}
%ico-arrow-right5::before         {@extend %icons-base;content: '\e984';}
%ico-tiquet::before               {@extend %icons-base;content: '\e985';}
%ico-cam2::before                 {@extend %icons-base;content: '\e986';}
%ico-menu-restaurant::before      {@extend %icons-base;content: '\e987';}
%ico-all::before                  {@extend %icons-base;content: '\e988';}
%ico-banquete::before             {@extend %icons-base;content: '\e989';}
%ico-coctel::before               {@extend %icons-base;content: '\e98a';}
%ico-conferencia::before          {@extend %icons-base;content: '\e98b';}
%ico-escuela::before              {@extend %icons-base;content: '\e98c';}
%ico-mesau::before                {@extend %icons-base;content: '\e98d';}
%ico-pdf2::before                 {@extend %icons-base;content: '\e98e';}
%ico-download3::before            {@extend %icons-base;content: '\e98f';}
%ico-business::before             {@extend %icons-base;content: '\e990';}
%ico-architecture::before         {@extend %icons-base;content: '\e991';}
%ico-bathtub::before              {@extend %icons-base;content: '\e992';}
%ico-capacity2::before            {@extend %icons-base;content: '\e993';}
%ico-doorbell2::before            {@extend %icons-base;content: '\e994';}
%ico-meters::before               {@extend %icons-base;content: '\e995';}
%ico-mountain::before             {@extend %icons-base;content: '\e996';}
%ico-rooms2::before               {@extend %icons-base;content: '\e997';}
%ico-user3::before                {@extend %icons-base;content: '\e998';}
%ico-menu-round::before           {@extend %icons-base;content: '\e999';}
%ico-restaurant2::before          {@extend %icons-base;content: '\e99a';}
%ico-arrow-previous::before       {@extend %icons-base;content: '\e99b';}
%ico-arrow-next::before           {@extend %icons-base;content: '\e99c';}
%ico-fork::before                 {@extend %icons-base;content: '\e99d';}
%ico-tik-tok::before              {@extend %icons-base;content: '\e99e';}
%ico-phone2::before               {@extend %icons-base;content: '\e99f';}
%ico-mail2::before                {@extend %icons-base;content: '\e9a0';}
%ico-location::before             {@extend %icons-base;content: '\e9a1';}
%ico-gift::before                 {@extend %icons-base;content: '\e9a2';}
%ico-arrow-left6::before          {@extend %icons-base;content: '\e9a3';}
%ico-arrow-right6::before         {@extend %icons-base;content: '\e9a4';}
%ico-circle-arrow-right3::before  {@extend %icons-base;content: '\e9a5';}
%ico-circle-arrow-left3::before   {@extend %icons-base;content: '\e9a6';}
%ico-help::before                 {@extend %icons-base;content: '\e9a7';}
%ico-callcenter::before           {@extend %icons-base;content: '\e9a8';}

.ico {
  &-fa {
    &-mail         {@extend %ico-mail;}
    &-facebook     {@extend %ico-facebook;}
    &-twitter      {@extend %ico-twitter;}
    &-instagram    {@extend %ico-instagram;}
    &-youtube      {@extend %ico-youtube3;}
    &-play         {@extend %ico-play;}
    &-google       {@extend %ico-google-plus;}
    &-google-plus  {@extend %ico-google-plus;}
    &-pinterest    {@extend %ico-pinterest2;}
    &-foursquare   {@extend %ico-foursquare;}
    &-linkedin     {@extend %ico-linkedin;}
    &-paypal       {@extend %ico-paypal;}
    &-wordpress    {@extend %ico-wordpress;}
    &-flickr       {@extend %ico-flickr2;}
    &-tripadvisor  {@extend %ico-tripadvisor;}
    &-whatsapp     {@extend %ico-whatsapp;}
    &-user         {@extend %ico-user;}
    &-vimeo        {@extend %ico-vimeo;}
    &-blog         {@extend %ico-blog;}
    &-tik-tok      {@extend %ico-tik-tok;}
  }
  &-facebook       {@extend %ico-facebook;}
  &-twitter        {@extend %ico-twitter;}
  &-instagram      {@extend %ico-instagram;}
  &-youtube        {@extend %ico-youtube3;}
  &-play           {@extend %ico-play;}
  &-google         {@extend %ico-google-plus;}
  &-google-plus    {@extend %ico-google-plus;}
  &-pinterest      {@extend %ico-pinterest2;}
  &-foursquare     {@extend %ico-foursquare;}
  &-linkedin       {@extend %ico-linkedin;}
  &-paypal         {@extend %ico-paypal;}
  &-wordpress      {@extend %ico-wordpress;}
  &-flickr         {@extend %ico-flickr2;}
  &-volumen        {@extend %ico-volume-high;}
  &-volumen-mute   {@extend %ico-volume-mute;}
  &-loop           {@extend %ico-loop;}
  &-vimeo          {@extend %ico-vimeo;}
  &-blog           {@extend %ico-blog;}
  &-tik-tok        {@extend %ico-tik-tok;}
}
